{% extends 'base.html' %}

{% block content %}
<h1>Log your workout here</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>{{ workout_form }}</h2>
    <h3>{{ exercise_form }}</h3>
    <div id="set-form-container" style="display:none;">
        <h5>Sets</h5>
        {{ set_formset.management_form }}
        <div id="set-forms">
            {% for form in set_formset %}
            <div class="set-form">
                {{ form }}
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-set">Add Set</button>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const exerciseSelect = document.querySelector('#id_exercise_form');
        const setFormContainer = document.querySelector('#set-form-container');
        const setFormsDiv = document.querySelector('#set-forms');
        const addSetButton = document.querySelector("#add-set");

        console.log('DOM fully loaded and parsed');
        console.log('Exercise Select:', exerciseSelect);
        console.log('Set Form Container:', setFormContainer);
        console.log('Add Set Button:', addSetButton);

        exerciseSelect.addEventListener('change', function() {
            console.log('Exercise selected:', this.value);
            if(this.value){
                setFormContainer.style.display = 'block';
            } else {
                setFormContainer.style.display = 'none';
            }
        });

        addSetButton.addEventListener('click', function(){
            console.log('Add Set button clicked');
            const firstSetForm = setFormsDiv.querySelector('.set-form');
            if(!firstSetForm){
                console.error('No set form found to clone')
                return;
            }


            const newForm = firstSetForm.cloneNode(true);
            const totalForms = document.querySelector('#id_sets-TOTAL_FORMS');
            const formCount = parseInt(totalForms.value);

            console.log('Cloning form. Current form count:', formCount);

            newForm.innerHTML = newForm.innerHTML.replace(/sets-\d+-/g, `sets-${formCount}-`);
            setFormsDiv.appendChild(newForm);

            totalForms.value = formCount+ 1;

            console.log('New form added. Updated form count:', totalForms.value);
        });

    });
</script>

{% endblock content %}