/* baseStyle.css */

body{
    background-color: #5D75B7;
}

a {
    color: white;
    text-decoration: none;
}

.body {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    font-family: 'Roboto', sans-serif; /* Using Roboto as the primary font */
    line-height: 1.6;
    padding: 20px;
    font-size: 16px; /* Sets a standard font size */
}

.header {
    background-color: #000033;
    color: #ffffff;
    padding: 20px;
    border: 2px solid #000000;
    font-size: 24px; /* Larger font size for header */
    font-weight: 700; /* Bold font weight for header */
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background-color: #000033;
    color: #ffffff;
    text-align: center;
    border: 2px solid #000000; 
    font-size: 18px; 
    padding: 20px;
    margin: 10;
}

.content-area {
    padding: 20px;
    border: 2px solid #000000;
    margin-top: 20px;
}

